[user]
	email = xandy@corley.org
	name = Alexander Corley
[push]
	default = simple
[alias]
	s = status -s
	ss = status
	c = commit -v
	chk = checkout
  d = diff
  dd = diff HEAD
  g = grep -n
  a = add
  p = pull --rebase
  ce = config --global -e
  l = log --graph --oneline
  ll = log
  whatadded = log --diff-filter=A
  skip = update-index --skip-worktree
  unskip = update-index --no-skip-worktree
[branch]
	autosetuprebase = always
