###
# begin user defined settings
###

bash_config="~/bin/lib/.config/config.bash"
vim_config="~/bin/lib/.config/config.vim"

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

if [[ ! $DISPLAY && $XDG_VTNR -eq 1 ]]; then
  exec startx
fi

# reduce the directory listing
PROMPT_DIRTRIM=2

# show the current working branch when in a git repository
parse_git_branch() {
     git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}

# changes the prompt to include the current git branch
export PS1="\[\033[31m\]\u\[\033[32m\]\w\[\033[33m\]\$(parse_git_branch)\[\033[31m\] $ \[\033[00m\]"

# add current folder to PATH and userbin
PATH=$PATH:.:~/bin

# set the default editor to vim
export EDITOR="vim"

## alias clear='clear && l'
## alias vd='vim -dR'
alias h='history'
alias editbash="vim $bash_config && source $bash_config"
alias editvim="vim $vim_config"
alias mkae='make'
alias "..1"='cd ..'
alias "..2"='cd ../..'
alias "..3"='cd ../../..'
alias "..4"='cd ../../../..'
alias "..5"='cd ../../../../..'
alias unmount='umount'
alias cookie='cowsay -f $(ls /usr/share/cowsay/cows/ | shuf -n 1) $(fortune)'
alias jaguar='sshuttle --exclude 132.241.1.11 -r acorley@jaguar.ecst.csuchico.edu 0/0 --dns -v'
#alias tmux='TERM=xterm-256colors tmux'
alias rot13="tr 'A-Za-z' 'N-ZA-Mn-za-m'"
alias pfire='firefox --private'
alias term='gnome-terminal'
alias awksum="awk '{ sum += \$1 } END {printf \"%.0f\n\", sum}'"
alias pow="poweroff"

mkdircd() {
  mkdir $1; cd $1;
}

