set tabstop=2
set softtabstop=2
set expandtab

autocmd FileType make set noexpandtab | set autoindent
autocmd FileType markdown set wrap

set showmatch

set wrap lbr
set nowrap
set showcmd

"set cursorline

set number
syntax on
colorscheme unicon
set background=dark

if has("autocmd")
  au BufReadPost * if line("'\"") > 1 && line("'\"") <= line("$") | exe "normal! g'\"" | endif
endif

" ignore these files when completing names and in Ex
set wildignore=.svn,CVS,.git,*.oi,*.d,*.a,*.class,*.mo,*.la,*.so,*.obj,*.swp,*.jpg,*.png,*.xpm,*.gif,*.pdf,*.bak,*.beam

autocmd BufRead,BufNewFile,BufWritePost *.sage set filetype=python 
" autocmd Filetype cpp command Comment :s/^/\/\//
