#remap prefix to c-a
set -g prefix C-a
bind C-a send-prefix
unbind C-b
unbind D
unbind d

# set the start index to 1 (sacrilege) but 0 is too far
set -g base-index 1

# Automatically set window title
set-window-option -g automatic-rename on
set-option -g set-titles on
#set -g default-terminal "screen-256color"

set -g mouse on
bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'select-pane -t=; copy-mode -e; send-keys -M'"
bind -n WheelDownPane select-pane -t= \; send-keys -M

# bind v and s to split horizontally and vertically
bind-key v split-window -h -c '#{pane_current_path}'
bind-key s split-window -v -c '#{pane_current_path}'

set -g lock-after-time 600
set -g lock-command "/usr/bin/cmatrix -s -C red -u 3"
